.input {
  width: 45%;
  font-size: smaller;
  margin-right: 20px;
}

.input-doble-full{
  width: 70%;
}

.input-doble {
  width: 100%;
  font-size: smaller;
  grid-column: auto / span 1;
}

.input-doble-col {
  grid-column: auto / span 2;
}

.texto {
  margin-top: 1rem;
}

.titulo {
  align-self: center;
}


.nutrientes-container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
  gap: 20px;
}
