
.container {
  background-image: url(../../../assets/image12.png);
  align-content: center;
  background-size: cover;
  background-position: center;
  position: absolute;
  min-height: 90%;
  width: 100%;
}

.titulo {
  margin-top: 2rem;
  color: #37b97d;
  font-weight: bold;
  /* font-size: xx-large; */
  margin-bottom: 2rem;
  text-align: center;
}

.botonVolver{
  color: #37B97D;
  border-radius: 1rem;
  align-self: flex-start;
margin: 15px 50px 0 50px;
width: fit-content;
}

.card {
  width: 60%;
  /* text-align: center; */
  border-radius: 1rem;
  margin-bottom: 5rem;
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
}

.mat-card{
  align-items: start !important;
}

.card-sm{
  width: 85%;
}

.dieta-title{
  color: #37b97d;
  text-decoration: underline;
}

/* .mat-grid-tile {
  border: solid 1px rgb(119, 119, 119);
}

mat-grid-tile p{
  margin: 1rem;
} */


.mat-grid-tile-content {
  justify-content: start !important ;
}



.elementos{
  min-width: fit-content;
  max-width: fit-content;
  /* border: solid; */
}

.imagen{
  /* border: solid; */
  max-width: fit-content;
}
.imagen-sm{
  /* border: solid; */
  max-width: 300px;
}

.fila{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 20px;
  margin-bottom: 6px;
}

.elemento {
  display: flex;
  text-align: start;
}

.alimento {
  /* font-size: smaller; */
  margin: 3px 0 0 5px;
  /* font-family: "Amatemora"; */
}

.cantidad{
  height: 24px;
}
