<div class="container" fxLayout="row" fxLayoutAlign="center center">
  <div fxLayout="column" fxLayoutAlign="center center" class="textos">
    <p class="mat-display-3 textoTitulo">
      ¿Cansado de planificar tus planes de comida?
    </p>
    <p class="mat-display-1 texto">
      Te ayudaremos a llevar tu nutrición al siguiente nivel.
    </p>
    <button mat-raised-button class="mat-display-1 botonRegistroYa" (click)=registrar()>
      ¡Registrate ya!
    </button>
  </div>
  <img fxHide.lt-md class="imagen" src="../../assets/fotohome.png" />
</div>
