.example-spacer {
    flex: 1 1 auto;
  }
.toolbar{
    color: black;
    background-color: transparent
}  
.botonRegistro{
    color: white;
    background-color: #37B97D;
    border-radius: 1rem;
}
.botonRegistroYa{
    color: white;
    background-color: #37B97D;
    border-radius: 1rem;
    font-size: 30px;
    height: 3.5rem;
}
.botonInicio{
    color: white;
    color:#37B97D;
    border-radius: 1rem;
    text-decoration: underline;
}

.container{
    height: 90%;
}

.textos{
    width: 30%;
    min-width: 25rem;
    /* height: 50%; */
    /* border:solid red */
}

.imagen{
    width: 40%;
    margin: 2rem;
    min-width: 30rem;
}
.textoTitulo{
    font-size: 50px;
    font-weight: bold;
    line-height: 4rem;
    margin-bottom: 1rem;
    /* border: solid black */
}

.texto{
    font-size: 30px;
    line-height: 2.5rem;
    margin-bottom: 2.5rem;
    font-weight: lighter;
}