<div class="container" fxLayout="column" fxLayoutAlign="center center">
    <h1 class="mat-display-2 titulo">Tu pirámide semanal</h1>
        <mat-card class="card mat-elevation-z8" ngClass.lt-md="card-sm" fxLayoutAlign="space-around center">
          <div class="imagen">
            <img ngClass.lt-lg="imagen-sm" src="../../../assets/piramide.png">
          </div>
          <div class="elementos">
            <h3>Consumo diario</h3>
            <div *ngFor="let alimento of categoriaDiaria">
              <div class="fila">
                <div class="elemento">
                  <mat-icon>chevron_right</mat-icon>
                  <p class="alimento">{{alimento.nombre}}</p>
                </div>
                <div class="cantidad">
                  <p class="alimento">{{getNumeroRaciones(alimento)}}</p>
                </div>
              </div>
            </div>
            <h3>Consumo semanal</h3>
            <div *ngFor="let alimento of categoriaSemanal">
              <div class="fila">
                <div class="elemento">
                  <mat-icon>chevron_right</mat-icon>
                  <p class="alimento">{{alimento.nombre}}</p>
                </div>
                <div class="cantidad">
                  <p class="alimento">{{getNumeroRaciones(alimento)}}</p>
                </div>
              </div>
            </div>
            <h3>Consumo ocasional y moderado</h3>
            <div *ngFor="let alimento of categoriaOcasional">
              <div class="fila">
                <div class="elemento">
                  <mat-icon>chevron_right</mat-icon>
                  <p class="alimento">{{alimento.nombre}}</p>
                </div>
              </div>
            </div>
            <ng-container *ngIf="!dietaRegular">
              <h3>Suplementos</h3>
              <div class="fila">
                <div class="elemento">
                  <mat-icon>chevron_right</mat-icon>
                  <p class="alimento">Vitamina B12 y otros</p>
                </div>
              </div>
            </ng-container>
          </div>
          <!-- <p *ngFor="let alimento of categoriaDiaria">{{alimento.nombre}}</p> -->
            <!-- <mat-grid-list cols="3" rowHeight="50px">
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                  Alimentos
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                  Cantidad
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="categoriaDiaria.length">
                  Alimentos consumo diario
                </mat-grid-tile>
                <ng-container *ngFor="let alimento of categoriaDiaria">
                  <mat-grid-tile [colspan]="1" [rowspan]="1">
                    {{alimento.nombre}}
                  </mat-grid-tile>
                  <mat-grid-tile [colspan]="1" [rowspan]="1">
                    {{getNumeroRaciones(alimento)}}
                  </mat-grid-tile>
                </ng-container>
                <mat-grid-tile [colspan]="1" [rowspan]="categoriaSemanal.length">
                  Alimentos consumo semanal
                </mat-grid-tile>
                <ng-container *ngFor="let alimento of categoriaSemanal">
                  <mat-grid-tile [colspan]="1" [rowspan]="1">
                    {{alimento.nombre}}
                  </mat-grid-tile>
                  <mat-grid-tile [colspan]="1" [rowspan]="1">
                    {{getNumeroRaciones(alimento)}}
                  </mat-grid-tile>
                </ng-container>
              </mat-grid-list> -->

        </mat-card>
</div>
