<div class="container" fxLayout="column" fxLayoutAlign="center center">
    <h1 class="mat-display-2 titulo">Tu pirámide semanal</h1>
    <div fxLayout="row" fxLayoutAlign="space-evenly center" fxFill>
        <img src="../../../assets/piramide.png">
        <mat-card class="card mat-elevation-z8">
            <mat-grid-list cols="3" rowHeight="50px">
                <mat-grid-tile
                    *ngFor="let celda of celdas"
                    [colspan]="celda.colums"
                    [rowspan]="celda.filas">
                  <p>{{celda.texto}}</p>
                </mat-grid-tile>
              </mat-grid-list>
              
        </mat-card>
    </div>
</div>