<!-- <mat-toolbar class="toolbar">
    <span>Logo</span>
    <button mat-button (click)="sidenav.toggle()">sidenav.toggle()</button>
    <span class="example-spacer"></span>
    <button mat-button class="botonInicio">Hola Ana</button>

    <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon class="perfil">account_circle</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>manage_accounts</mat-icon>
          <span>Editar perfil</span>
        </button>
        <button mat-menu-item>
          <mat-icon>person_off</mat-icon>
          <span>Cerrar sesión</span>
        </button>
      </mat-menu>
</mat-toolbar>
<div class="container" fxLayout="column" fxLayoutAlign="center center">
<mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav mode="side" [(opened)]="opened">
      Sidenav content
    </mat-sidenav>
</mat-sidenav-container>
</div>  -->

<!-- <mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>My App</span>
  <span class="example-spacer"></span>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon class="perfil">account_circle</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="editProfile()">
      <mat-icon>manage_accounts</mat-icon>
      <span>Editar perfil</span>
    </button>
    <button mat-menu-item (click)="logout()">
      <mat-icon>person_off</mat-icon>
      <span>Cerrar sesión</span>
    </button>
  </mat-menu>

</mat-toolbar> -->

<mat-drawer-container class="container">
  <mat-drawer mode="side" opened class="side">

  </mat-drawer>
  <mat-drawer-content>Main content</mat-drawer-content>
</mat-drawer-container>
