.side{
  border-right: solid 3px #dbf0ca;
background-color: #eaf7de;
border-top: solid 3px #dbf0ca;
padding: 15px 15px 15px 0;

}

.container2 {
  /* background-image: url(../../../assets/image12.png);
  background-size: cover;
  background-position: center;
  position: absolute;
  min-height: 95%;
  width: 100%; */
}

.container{
  background-image: url(../../../assets/image12.png);
  background-size: cover;
  background-position: center;
  position: absolute;
  min-height: 95%;
  width: 100%;
}

.sub-container{
  width: 100%;
}

.card {
  width: 20%;
  display: flex;
  border-radius: 1rem;
  padding: 30px;
  height: 423px;
  margin: 0 15px;
  justify-content: space-around;
}

.boton {
  /* background-color: #37b97d; */
  border-radius: 1rem;
  color: #37b97d;
  text-decoration: underline;
  width: max-content;
  align-self: center;
  /* border: #37b97d 1px solid; */
}

.boton-pyr {
  margin: 15px 0;
  align-self: start;
}

.card-piramide{
  width: fit-content;
  height: auto;
  margin-top: 30px;
}

.imagen{
  margin: 20px 0;
}

.imagen-piramide{
  width: 200px;

}

.titulo {
  text-align: center;
  /* margin-top: 2rem; */
  color: #37b97d;
  font-weight: bold;
  font-size: xx-large;
  margin: 0;
  margin-bottom: 15px;
  /* font-family: "Amatemora"; */
}

.mat-tree{
  background-color: transparent;
}

.padding{
  width: 20px;
}

.pointer{
  cursor: pointer;
}
