.example-spacer {
  flex: 1 1 auto;
}
.toolbar {
  color: black;
  background-color: #EAF7DE;
}
.botonRegistro {
  color: white;
  background-color: #37b97d;
  border-radius: 1rem;
}

.botonInicio {
  color: #37b97d;
  /* background-color: #37b97d; */
  border-radius: 1rem;
  text-decoration: underline;
}

.greeting {
  font-size: smaller;
  color: #37b97d;
  text-decoration: underline;
  margin-right: 10px;
}

.container{
  display: contents;
}
