.example-spacer {
  flex: 1 1 auto;
}
.toolbar {
  color: black;
  background-color: transparent;
height: 85px;
margin-top: 20px;
}
.botonRegistro {
  color: white;
  background-color: #37b97d;
  border-radius: 1rem;
}

.botonInicio {
  color: #37b97d;
  /* background-color: #37b97d; */
  border-radius: 1rem;
  text-decoration: underline;
}

.icono{
  margin-right: 20px;
  color: #37b97d;
}

.margin{
  margin-right: 20px;
}

.greeting {
  font-size: smaller;
  color: #37b97d;
  text-decoration: underline;
  margin-right: 10px;
}

.container{
  display: contents;
}

.logo{
  height: 95%;
margin-left: 20px;
}
