<div class="container" fxLayout="column" fxFlex="100" fxLayoutAlign="center center">
    <h1 class="mat-display-2 titulo">Edita tu perfil</h1>
    <mat-card class="stepper mat-elevation-z8">
        <mat-accordion>
            <mat-expansion-panel class="mat-elevation-z0">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Tu datos personales
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <form [formGroup]="firstFormGroup">
                    <p class="texto">Escribe tu nombre y apellidos</p>
                    <div fxLayout="row" fxLayout.lt-md="column" fxFill fxLayoutAlign="center center"> 
                      <div fxLayout="column" fxLayoutAlign="center center" ngClass.gt-sm="input-doble-col" ngClass.lt-md="input"> 
                        <mat-form-field ngClass.gt-sm="input-doble" ngClass.lt-md="input-full">
                          <input matInput placeholder="Nombre" formControlName="nombre" required [(ngModel)]="usuario.nombre">
                          <mat-error *ngIf="this.firstFormGroup.get('nombre').invalid">{{getErrorMessage()}}</mat-error>
                        </mat-form-field>
                      </div>
                      <div fxLayout="column" fxLayoutAlign="center center" ngClass.gt-sm="input-doble-col" ngClass.lt-md="input"> 
                        <mat-form-field ngClass.gt-sm="input-doble" ngClass.lt-md="input-full">
                          <input matInput placeholder="Apellidos" formControlName="apellidos" required [(ngModel)]="usuario.apellidos">
                          <mat-error *ngIf="this.firstFormGroup.get('apellidos').invalid">{{getErrorMessage()}}</mat-error>
                        </mat-form-field>
                      </div>
                    </div>
                    <p class="texto" >Escribe tu correo electronico</p>
                    <mat-form-field class="input">
                      <input matInput placeholder="Email" formControlName="email" required [(ngModel)]="usuario.email">
                      <mat-error *ngIf="this.firstFormGroup.get('email').invalid">{{getErrorMessageEmail()}}</mat-error>
                    </mat-form-field>
                    <p class="texto">Escribe una contraseña</p>
                    <mat-form-field class="input">
                      <mat-label>Password</mat-label>
                      <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" required [(ngModel)]="usuario.password">
                      <mat-error *ngIf="this.firstFormGroup.get('password').invalid">{{getErrorMessage()}}</mat-error>
                      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                      </button>
                    </mat-form-field>
                </form>
            </mat-expansion-panel>
            <mat-expansion-panel class="mat-elevation-z0">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Tu datos físicos
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <form [formGroup]="secondFormGroup">
                  <ng-template matStepLabel>Tus datos fisicos</ng-template>
                  <div>
                    <mat-radio-group aria-label="Select an option" formControlName="sexo" required [(ngModel)]="usuario.sexo">
                      <mat-radio-button value="Mujer">Mujer</mat-radio-button>
                      <mat-radio-button value="Hombre">Hombre</mat-radio-button>
                    </mat-radio-group>
                  </div>
                  
                  <p class="texto">¿Cuando es tu cumpleaños?</p>
                  <mat-form-field class="input">
                    <mat-label>Elige una fecha</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="fechaNacimiento" [(ngModel)]="usuario.fecha_nacimiento">
                    <mat-error *ngIf="this.secondFormGroup.get('fechaNacimiento').invalid">{{getErrorMessage()}}</mat-error>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
                  <p class="texto">¿Cuanto mides?</p>
                  <mat-form-field class="input">
                    <input matInput placeholder="cm" formControlName="altura" [(ngModel)]="usuario.altura">
                    <mat-error *ngIf="this.secondFormGroup.get('altura').invalid">{{getErrorMessage()}}</mat-error>
                  </mat-form-field>
                  <p class="texto">¿Cuanto pesas?</p>
                  <mat-form-field class="input">
                    <input matInput placeholder="kg" formControlName="peso" [(ngModel)]="usuario.peso">
                    <mat-error *ngIf="this.secondFormGroup.get('peso').invalid">{{getErrorMessage()}}</mat-error>
                  </mat-form-field>
                </form>          
            </mat-expansion-panel>
            <mat-expansion-panel class="mat-elevation-z0">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Alergías
                </mat-panel-title>
              </mat-expansion-panel-header>
              <form [formGroup]="fourthFormGroup" >
                <p>¿Tienes alguna alergía o intolerancia?</p>
                <section formGroupName="alergia">
                  <div fxLayout="row wrap" fxLayoutAlign="center center" >
                    <div fxLayout="column" class="alergia" fxLayoutAlign="center center" *ngFor="let alergia of alergias">
                      <img class="alergia-img" src={{getAlergia(alergia)}}>
                      <mat-checkbox class="alergia-texto" formControlName="{{alergia}}" [ngModel]="isChecked(alergia)">{{alergia}}</mat-checkbox>
                    </div>
                  </div>
                </section>
              </form>
            </mat-expansion-panel>
            <mat-expansion-panel class="mat-elevation-z0">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Dieta
                </mat-panel-title>
              </mat-expansion-panel-header>
              <form [formGroup]="fithFormGroup" >
                <p>¿Eres vegetario o vegano?</p>
                <mat-radio-group formControlName="dieta" [(ngModel)]="usuario.dieta">
                  <mat-radio-button class="radio-dieta"  value="vegetariano">Vegetariano</mat-radio-button>
                  <mat-radio-button class="radio-dieta" value="vegano">Vegano</mat-radio-button>
                  <mat-radio-button class="radio-dieta"  value="ninguno">Ninguno</mat-radio-button>
                </mat-radio-group>
              </form>
            </mat-expansion-panel>
        </mat-accordion>
        <button mat-button class="boton" (click)="guardar()">
          <mat-icon>save_alt</mat-icon> Guardar
        </button>
    </mat-card>
</div>
