/* You can add global styles to this file, and also import other style files */

html, body { min-height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@font-face {
  font-family: "HandWritting";
  src: local("HandWritting"), url(./assets/fonts/handwritting.ttf) format("truetype");
}

@font-face {
  font-family: "Amatemora";
  src: local("Amatemora"), url(./assets/fonts/amatemora.ttf) format("truetype");
}

