.example-spacer {
  flex: 1 1 auto;
}
.toolbar {
  color: black;
  background-color: transparent;
}
.botonRegistro {
  background-color: #37b97d;
  border-radius: 1rem;
  color: white;
}

.botonVolver{
  color: #37B97D;
  border-radius: 1rem;
  align-self: flex-start;
margin: 50px 50px 0 50px;
width: fit-content;
}

.perfil {
  /* background-color: #37b97d;
    border-radius: 1rem; */
  color: #37b97d;
  font-size: 30px;
}
.botonInicio {
  color: white;
  color: #37b97d;
  border-radius: 1rem;
  text-decoration: underline;
}

.container {
  background-image: url(../../../assets/image12.png);
  background-size: cover;
  background-position: center;
  position: absolute;
  min-height: 95%;
  width: 100%;
}

.titulo {
  margin-top: 3rem;
  color: #37b97d;
  font-weight: bold;
  font-size: xx-large;
  margin-bottom: 2rem;
}

.boton {
  background-color: #37b97d;
  border-radius: 1rem;
  color: white;
}

.card {
  width: 50%;
  padding: 1rem;
  text-align: center;
  border-radius: 1rem;
  margin: 0.5rem;
  margin-bottom: 1rem;
}

.fila {
  display: inline-flex;
  border-bottom: solid 1px #e0e0e0;
}

.guarnicion {
  color: gray;
  margin: 0 10px 0 15px;
}

.itemG {
  margin: 0;
}

.fila-guarnicion {
  display: inline-flex;
  margin-bottom: 10px;
  font-size: 15px;
margin-left: 20px;
}

.subfila {
  width: 100%;
  text-align: start;
  padding: 0 15px;
  /* border-right: solid 1px #e0e0e0;
  border-left: solid 1px #e0e0e0; */
}

.top {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}

.dia {
  border: solid 1px #e0e0e0;
  border-top: none;
  text-align: start;
  max-width: 200px;
}

.card-lg {
  width: 70%;
}

.card-md {
  width: 60%;
}

.card-sm {
  width: 80%;
}

.card-xs {
  width: 95%;
}

.tabla {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 20px;
  padding: 15px;
}

.item {
  margin-left: 10px;

}

.receta{
  text-decoration: underline;
  cursor: pointer;
}

.material-symbols-outlined {
  font-size: 40px;
  height: 40px;
  margin-left: 15px;
  margin-bottom: 4px;
  cursor: pointer;
}

.item_dia {
  font-weight: bold;
}

.mat-list-base .mat-list-item {
  height: fit-content;
  padding: 9px 5px;
}

.mat-list-base .mat-list-item .mat-list-item-content {
  padding: 0;
}

.sm {
  /* text-align: start; */
  color: gray;
  font-size: smaller;
}

.diaSemana {
  text-transform: uppercase;
  font-size: larger;
  font-weight: bold;
}
