<mat-toolbar class="toolbar">
    <span>Logo</span>
    <span class="example-spacer"></span>
    <button mat-button class="botonInicio">Hola Ana</button>
    <!-- <button mat-raised-button class="botonRegistro">Registro</button> -->
    <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon class="perfil">account_circle</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>manage_accounts</mat-icon>
          <span>Editar perfil</span>
        </button>
        <button mat-menu-item>
          <mat-icon>person_off</mat-icon>
          <span>Cerrar sesión</span>
        </button>
      </mat-menu>
</mat-toolbar>
<div class="container" fxLayout="column" fxLayoutAlign="center center">
    <h1 class="titulo">Tu plan de hoy</h1>
    <mat-card class="card mat-elevation-z8" ngClass.gt-md="card-lg" ngClass.md="card-md" ngClass.lt-md="card-sm">
        <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-around center">
            <div fxLayout="column" fxLayoutAlign="center center">
                <mat-progress-spinner class="progreso circuloFondo" mode="determinate" [strokeWidth]="18" [diameter]="170" [value]="100"></mat-progress-spinner>
                <mat-progress-spinner class="progreso" mode="determinate" [strokeWidth]="18" [diameter]="170" [value]="25"></mat-progress-spinner>
                <h1 class="message">25</h1>
                <p class="texto">Carbohidratos</p>
                <p>X de Y</p>
            </div>
            <div fxLayout="column" fxLayoutAlign="center center">
                <mat-progress-spinner class="progreso circuloFondo" mode="determinate" [strokeWidth]="18" [diameter]="170" [value]="100"></mat-progress-spinner>
                <mat-progress-spinner class="progreso" mode="determinate" [strokeWidth]="18" [diameter]="170" [value]="50"></mat-progress-spinner>
                <h1 class="message">50</h1>
                <p class="texto">Proteinas</p>
                <p>X de Y</p>
            </div>
            <div fxLayout="column" fxLayoutAlign="center center">
                <mat-progress-spinner class="progreso circuloFondo" mode="determinate" [strokeWidth]="18" [diameter]="170" [value]="100"></mat-progress-spinner>
                <mat-progress-spinner class="progreso" mode="determinate" [strokeWidth]="18" [diameter]="170" [value]="75"></mat-progress-spinner>
                <h1 class="message">75</h1>
                <p class="texto">Grasas</p>
                <p>X de Y</p>
            </div>
            <!-- <div class="progressCircle" style="border: solid;">
                <mat-spinner class="circle circuloFondo" mode="determinate" value="100" [strokeWidth]="18" [diameter]="170"></mat-spinner>
                <mat-spinner class="circle" mode="determinate" value="25" [strokeWidth]="18" [diameter]="170"></mat-spinner>
                <div class="message"><h1>hola</h1></div>
            </div> -->
            
        </div>
    </mat-card>
    

   
    <mat-card class="card-2 mat-elevation-z8" ngClass.gt-md="card-lg" ngClass.md="card-md" fxShow fxHide.lt-md>
        <mat-accordion *ngFor="let element of dataSource">
            <mat-expansion-panel class="mat-elevation-z0" (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false" >
              <mat-expansion-panel-header>
                <mat-panel-title>
                    <div fxLayout="column" fxLayoutAlign="center start" class="nombre">
                        <p class="textoAlimentos">{{element.nombre}}</p>
                    </div>
                    <div fxLayout="column" fxLayoutAlign="center center" class="der">
                        <p class="textoAlimentos">{{element.carbohidratos}}</p>
                    </div>
                    <div fxLayout="column" fxLayoutAlign="center center" class="der">
                        <p class="textoAlimentos">{{element.proteinas}}</p>
                    </div>
                    <div fxLayout="column" fxLayoutAlign="center center" class="der">
                        <p class="textoAlimentos">{{element.grasas}}</p>
                    </div>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="contenido" fxLayout="row" fxLayoutAlign="start center" *ngFor="let comida of element.alimentos">
                <div fxLayout="column" fxLayoutAlign="center start" class="nombre-2">
                    <p class="textoAlimentos textoAlimentos-nombre"> - {{comida.alimento}}</p>
                </div>
                <div fxLayout="column" fxLayoutAlign="center center" class="der">
                    <p class="textoAlimentos">{{comida.carbohidratos}}</p>
                </div>
                <div fxLayout="column" fxLayoutAlign="center center" class="der">
                    <p class="textoAlimentos">{{comida.proteinas}}</p>
                </div>
                <div fxLayout="column" fxLayoutAlign="center center" class="der">
                    <p class="textoAlimentos">{{comida.grasas}}</p>
                </div>
            </div>
            </mat-expansion-panel>
            
            <mat-divider inset=“true”></mat-divider>
          </mat-accordion>
    </mat-card>

    <mat-card class="card-3 mat-elevation-z8" fxShow fxHide.gt-sm>
        <mat-accordion *ngFor="let element of dataSource">
            <mat-expansion-panel class="mat-elevation-z0" (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false" >
              <mat-expansion-panel-header>
                <mat-panel-title>
                    <div fxLayout="column" fxLayoutAlign="center start" class="nombre">
                        <p class="textoAlimentos">{{element.nombre}}</p>
                    </div>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="contenido sm" fxLayout="row" fxLayoutAlign="end center" >
                <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="center center" class="der-sm">
                    <p class="textoAlimentos">Carbo</p>
                    <p class="textoAlimentos">hidratos</p>
                </div>
                <div fxLayout="column" fxLayoutAlign="center center" class="der-sm">
                    <p class="textoAlimentos">Proteinas</p>
                </div>
                <div fxLayout="column" fxLayoutAlign="center center" class="der-sm">
                    <p class="textoAlimentos">Grasas</p>
                </div>
            </div>
              <div class="contenido sm" fxLayout="row" fxLayoutAlign="start center" *ngFor="let comida of element.alimentos">
                <div fxLayout="column" fxLayoutAlign="center start" class="der-sm">
                    <p class="textoAlimentos">{{comida.alimento}}</p>
                </div>
                <div fxLayout="column" fxLayoutAlign="center center" class="der-sm">
                    <p class="textoAlimentos">{{comida.carbohidratos}}</p>
                </div>
                <div fxLayout="column" fxLayoutAlign="center center" class="der-sm">
                    <p class="textoAlimentos">{{comida.proteinas}}</p>
                </div>
                <div fxLayout="column" fxLayoutAlign="center center" class="der-sm">
                    <p class="textoAlimentos">{{comida.grasas}}</p>
                </div>
            </div>
            </mat-expansion-panel>
            
            <mat-divider inset=“true”></mat-divider>
          </mat-accordion>
    </mat-card>
    
</div>