.example-spacer {
  flex: 1 1 auto;
}
.toolbar {
  color: black;
  background-color: transparent;
}
.boton {
  color: #37b97d;
  font-size: smaller;
  margin-right: -0.2rem;
  margin-bottom: 1rem;
  /* margin-top: 1rem; */
}
.perfil {
  /* background-color: #37b97d;
    border-radius: 1rem; */
  color: #37b97d;
  /* font-size: 30px; */
}
.botonInicio {
  color: white;
  color: #37b97d;
  border-radius: 1rem;
  text-decoration: underline;
}

.container {
  /* background-image: url(../../assets/image12.png); */
  align-content: center;
  background-size: cover;
  background-position: center;
  position: absolute;
  /* height: 100%; */
  width: 100%;
}

.example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.example-radio-button {
  margin: 5px;
}

.titulo {
  margin-top: 2rem;
  color: #37b97d;
  font-weight: bold;
  /* font-size: xx-large; */
  margin-bottom: 2rem;
}

.sub-titulo {
  margin-top: 3rem;
  color: #37b97d;
  /* font-weight: bold; */
  /* font-size: 20px; */
  margin-bottom: 1rem;
}

.card-progress {
  width: 45%;
  text-align: center;
  border-radius: 1rem;
  margin-bottom: 1.5rem;
}

.card-table {
  width: 60%;
  text-align: center;
  border-radius: 1rem;
  margin-bottom: 1.5rem;
}

.card {
  width: 30%;
  text-align: center;
  border-radius: 1rem;
  margin-bottom: 5rem;
}

.card-md {
  width: 65%;
}

.card-md-exp {
  width: 90%;
}

.card-sm {
  width: 70%;
}
.message {
  /* position: absolute;
      text-align: center; */
  /* top: 50%;
      left: 50%; */
  transform: translate(0, -90px);
  margin-bottom: -15px;
  /* font-size: x-large; */
  font-weight: bold;
}

.tablaSustituir{
  width: 60%;
}

.texto {
  font-weight: bold;
  /* font-size: larger; */
}

:host ::ng-deep .circuloFondo circle {
  stroke-opacity: 0.3 !important;
}

.circuloFondo {
  transform: translate(0, 150px);
  margin-top: -150px;
}

:host ::ng-deep .mat-progress-spinner circle,
.mat-spinner circle {
  stroke: #2cca0c;
}

/* tabla */

/* .mat-form-field + .mat-form-field {
    margin-left: 8px;
  } */

table {
  width: 100%;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.col-tabla-grande{
  width: 15%;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  /* font-size: 40px; */
  line-height: normal;
}

.example-element-description {
  /* padding: 16px; */
  width: 100%;
  margin-bottom: 0.5rem;
}

.example-element-description-attribution {
  opacity: 0.5;
}

/* .right{
      width: 5%;
      border:solid magenta
      
  } */

.nombre {
  width: 50%;
  /* display: flex; */
  text-align: start;
}

.textoAlimentos-nombre {
  margin-left: 2rem;
}

.tabla {
  width: 15%;
}

/* Structure */
table {
  width: 100%;
  text-align: start;
}

.der {
  width: 11.5%;
}

.contenido {
  margin-right: 1.5rem;
  margin-bottom: 0.5rem;
}

.sm {
  margin-left: -1rem;
  border-bottom: 1px solid;
  width: 110%;
}

.max{
  width: 100%;
}

.textoAlimentos {
  margin-bottom: -0.1rem;
  font-size: smaller;
}

.card-table-sm {
  /* min-width: 20rem; */
  margin-top: 1.5rem;
  width: 85%;
  text-align: center;
  border-radius: 1rem;
  margin-bottom: 3rem;
}

.der-sm {
  width: 20%;
  margin-bottom: 5px;
}

.carb:after {
  content: "Carbohidratos";
  white-space: pre;
}

/* .carb:before {
    content:"Carbohidratos";
  } */


  .cuarto {
    width: 20%;
  }
  
  .fila {
    border-bottom: 1px solid grey;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
  }
  
  .filtro{
    width: 70%;
  }

  .fila-lg {
    width: 80%;
  }
  
  .fila-sm {
    width: 95%;
    font-size: smaller;
  }
  
  .textoAlimento {
    margin-bottom: 0.1rem;
  }

  .textoAlimento.cap{
    text-transform: capitalize;
  }
  
  .botonRegistro {
    background-color: #37b97d;
    border-radius: 1rem;
    color: white;
    margin-bottom: 1rem;
  }