<div class="container" ngClass.gt-sm="container-sm" fxLayout="column" fxLayoutAlign="center center">
  <h1 class="mat-display-2 titulo" *ngIf="!editMode">Registro</h1>
  <h1 class="mat-display-2 titulo" *ngIf="editMode">Editar</h1>
  <mat-stepper linear [orientation]="orientation" ngClass.gt-md="stepper-bg" ngClass.md="stepper-md" ngClass.lt-md="stepper-sm"
    class="stepper mat-elevation-z8" labelPosition="bottom" #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <ng-template matStepLabel>Tu cuenta</ng-template>
      <app-datos-cuenta [firstFormGroup]="firstFormGroup" [usuario]="usuario" (cambioActivado)="updateDisabled($event)"></app-datos-cuenta>
      <button mat-button matStepperNext [disabled]="datosCuentaDisabled()" class="boton">Siguiente</button>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <ng-template matStepLabel>Alergías</ng-template>
      <app-alergias [secondFormGroup]="secondFormGroup" [usuario]="usuario"></app-alergias>
      <div>
        <button mat-button matStepperPrevious class="boton">Anterior</button>
        <button mat-button matStepperNext class="boton" [disabled]="secondFormGroup.invalid">Siguiente</button>
      </div>
    </mat-step>
    <mat-step [stepControl]="thirdFormGroup">
      <ng-template matStepLabel>Dieta</ng-template>
      <app-dieta [thirdFormGroup]="thirdFormGroup" [usuario]="usuario"></app-dieta>
      <div>
        <button mat-button matStepperPrevious class="boton">Anterior</button>
        <button mat-button matStepperNext class="boton" [disabled]="thirdFormGroup.invalid"
          (click)="registrarUsuario()">Siguiente</button>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Fin.</ng-template>
      <p>¡Ya estas registrado!</p>
    </mat-step>
  </mat-stepper>

</div>
