.example-spacer {
  flex: 1 1 auto;
}
.toolbar {
  color: black;
  background-color: transparent;
}
.botonRegistro {
  background-color: #37b97d;
  border-radius: 1rem;
  color: white;
}
.botonInicio {
  color: white;
  color: #37b97d;
  border-radius: 1rem;
  text-decoration: underline;
}

.container {
  background-image: url(../../../assets/image12.png);
  /* align-content: center; */
  background-size: cover;
  background-position: center;
  position: absolute;
  min-height: 100%;
  width: 100%;
}

.container-bg {
  height: 100%;
}

.alergia {
  margin: 1rem;
}

.alergia-img {
  width: 6rem;
}

.alergia-texto {
  text-transform: capitalize;
}

.titulo {
  color: #37b97d;
  font-weight: bold;
  font-size: xx-large;
  margin: 2rem;
}

.mat-form-field {
  margin-top: 16px;
}

.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}
.example-margin {
  margin: 0 10px;
}

.stepper {
  text-align: center;
  border-radius: 1rem;
  margin-bottom: 5rem;
}

.stepper-bg {
  width: 40%;
}

.stepper-md {
  width: 60%;
}

.stepper-sm {
  width: 90%;
}



.boton {
  background-color: #37b97d;
  border-radius: 1rem;
  color: white;
  margin: 5px;
  margin-top: 1rem;
}

.radio-dieta{
  margin-bottom: 1rem;
}

/* ::ng-deep .mat-focused .mat-form-field-label {
  color: #009e5b !important;
 }


::ng-deep .mat-form-field-ripple {
 background-color: #009e5b !important;;
}

::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle {
  background-color: #009e5b!important;  
}

::ng-deep.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
 border-color: #009e5b!important; 
} */

.mat-radio-button ~ .mat-radio-button {
  margin-left: 30px;
}

.mat-button:disabled {
  background-color: #e5e5e5;
}

.texto {
  /* font-weight: bold; */
  margin-top: 1rem;
  margin-bottom: -0.9rem;
}

.input {
  width: 60%;
}

.input-full {
  width: 100%;
} 

.input-doble {
  width: 85%;
}

.input-doble-col {
  width: 32%;
}

.objetivo {
  background-color: #ebffdb;
  border-radius: 5px;
  padding: 15px;
  padding-right: 20px;
  margin: 10px;
  margin-bottom: 2rem;
}

/* ::ng-deep .objetivo.mat-radio-checked {
  border:solid;
  border-color: #8ad257ff!important;
} */

::ng-deep .objetivo.mat-radio-button .mat-radio-container {
  width: 0;
  visibility: hidden;
}

.steps {
  width: 100%;
}
/* ::ng-deep .mat-step-header .mat-step-icon-selected, .mat-step-icon-state-done .mat-step-icon-state-edit {
  background-color: #37B97D; 
} */

.example-form-field {
  margin-right: 20px;
}
